<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}"> 
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
  <header class="header">
    <nav class="nav">
      <a href="#" class="nav_logo">Photo Studio</a>
    </nav>
  </header>
  <section class="home">
    <div class="form_container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="alert" class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
      <div class="form signup_form">
        <form name="register" action="{{ url_for('register') }}" method="post">
          <h2>Register</h2>
          <div class="input_box">
            <input type="email" name="email" placeholder="Enter your email" required onclick="clearLabel()"/>
            <i class="uil uil-envelope-alt email"></i>
          </div>
          <div class="input_box">
            <input type="text" name="username" placeholder="Create Your Username" required onclick="clearLabel()"/>
            <i class="uil uil-users-alt email"></i>
          </div>
          <div class="input_box">
            <input type="text" name="name" placeholder="Enter your Name" required onclick="clearLabel()"/>
          </div>
          <div class="input_box">
            <input type="password" name="ps" placeholder="Create password" required onclick="clearLabel()"/>
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>
          <div class="input_box">
            <input type="password" name="pscon" placeholder="Confirm password" required onclick="clearLabel()"/>
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>
          <button class="button" type="submit">register</button>
          <div class="login_signup">Already have an account? <a href="{{ url_for('login')}}" >Login</a></div>
        </form>
      </div>
    </div>
  </section>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/login.js') }}"></script>

</body>